doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    .left-column
      .app-title 
        h1 MEMBERS 
        p ONLY
      nav
        .nav-item 
          a(href="/") Home
        .nav-item
          a(href="/sign-up") Sign up
        if (!currentUser)
          .nav-item
            a(href="/log-in") Log in
        .nav-item
          a(href="/create-message") Create Message 
        .nav-item 
          a(href="/join-the-club") Join The Club
        if(currentUser)
          .nav-item 
            a(href="/log-out") Log Out
    block content
