* {
  box-sizing: border-box;
}
body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

textarea {
  resize: none;
}

.message {
  border: 1px solid black;
  border-radius: 8px;
  padding: 8px;
  max-width: 300px;
  min-height: 50px;
}
