* {
  box-sizing: border-box;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  margin: 0;
  display: flex;
  height: 100vh;
  background-color: #e1e2e7;
  padding: 32px;
  justify-content: center;
}

.left-column {
  background-color: #55bc7e;
  border-top-left-radius: 24px;
  border-bottom-left-radius: 24px;
  padding: 32px;
  min-width: 250px;
  box-shadow: 10px 14px 29px -5px rgba(0, 0, 0, 0.68);
}
.app-title {
  margin-bottom: 48px;
}

.left-column h1,
.left-column p {
  margin: 0;
  color: white;
}

.left-column p {
  font-weight: 100;
  font-size: 20px;
}

body nav {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.nav-item {
  color: white;
  text-decoration: none;
  font-size: 18px;
}

a {
  color: inherit;
  text-decoration: none;
}

textarea {
  resize: none;
}

.messages {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.message {
  box-shadow: 10px 14px 15px -5px rgba(0, 0, 0, 0.38);
  border: 1px solid rgba(175, 175, 175, 0.424);
  border-radius: 16px;
  padding: 16px;
  max-width: 600px;
  min-height: 50px;
  display: flex;
  flex-direction: column;
  gap: 12px;

  position: relative;
}

#delete-btn {
  position: absolute;
  right: 12px;
  top: 12px;

  border: none;
  cursor: pointer;
  transition: transform 0.2s;
}

#delete-btn:hover {
  transform: scale(1.1);
  color: red;
}

.message-info {
  display: flex;
  align-items: center;
  gap: 4px;
  color: rgb(148, 148, 148);
  font-weight: 700;
}

main {
  background-color: rgb(246, 246, 246);
  border-radius: 24px;
  margin-left: -24px;
  min-width: 1200px;
  box-shadow: 10px 14px 29px -5px rgba(0, 0, 0, 0.68);
  padding: 24px;

  display: flex;
  flex-direction: column;
  gap: 16px;
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.form-group-radio {
  display: flex;
  align-items: center;
  gap: 6px;
}

input {
  padding: 8px 4px;
  border-radius: 4px;
  outline: none;
  border: 1px solid rgb(181, 181, 181);
}

textarea {
  padding: 8px 4px;
  border-radius: 4px;
  outline: none;
  border: 1px solid rgb(181, 181, 181);
}

input:focus,
textarea:focus {
  border: 1px solid #55bc7e;
}

input,
textarea {
  max-width: 500px;
}

textarea {
  font-family: Arial, Helvetica, sans-serif;
}

form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

form label {
  font-weight: bold;
  font-size: 18px;
}

.btn-submit {
  color: white;
  background-color: #55bc7e;
  border: none;
  font-weight: bold;
  width: fit-content;
  font-size: 16px;
  padding: 18px 16px;
  border-radius: 4px;
}

.error-msg {
  color: rgb(255, 42, 42);
}
